@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dosis|Gloria+Hallelujah|Indie+Flower');

// ============
// FONT STYLINGS
// ============

$font-stack: 'Gloria Hallelujah', sans-serif;
$font-color: #404040;
$font-size: 18px;
$font-size__list-item: 0.75em;


// ============
// COLORS
// ============

$background: #E6EBE0;
$primary: #ED6A5A;
$light-secondary: #9BC1BC;
$dark-secondary: #335A5D;
$text: #4F6367;
$light-text: #fff;
$edit-button-background: #D1E2E0;
$add-button-background: #F4F1BB;


*,
*::before,
*::after {
	box-sizing: border-box;
}


// ============
// GLOBAL
// ============

body {
  font-family: $font-stack;
  color: $text;
	background: $background;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
  padding: 20px 30px 20px 30px;
  border-radius: 4px;
  margin: 5px 3px 5px 0px;
  color: $light-text;
}

input {
  padding: 20px 30px 20px 30px;
  border: $light-text;
  border-radius: 4px;
}

// input {
//   min-width: 300px;
//   min-height: 30px;
//   padding: 5px;
// }


// ============
// APP
// ============

.to-do-list {
	background: $light-secondary;
	height: 70vh;
	width: 70vw;
	max-width: 600px;
	color: $light-text;

	&__title {
		background: $dark-secondary;
		padding: 20px;
    margin: 0;
    text-align: center;
	}
}

.task-list {
  padding-left: 0;
  margin-top: 0;
  list-style-type: none;

	&__item {
    align-items: center;
		justify-content: center;
		background: $dark-secondary;
		padding: 10px;
		margin-bottom: 2px;
		min-height: 100px;
  }

  &__item-wrapper {
		display: flex;
    justify-content: space-between;
  }

  &__item-text-wrapper {
    justify-self: center;
    align-self: center;
    padding-left: 20px; 
  }

  &__item-button-text {
    justify-content: center;
  }

	&__edit-item {
		display: flex;
		align-items: center;
		justify-content: center;
		background: $light-text;
		padding: 10px;
		margin-bottom: 2px;
  }
  
  &__edit-input {
    border: 1px solid #D1E2E0;
  }
}


.input {
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
  margin: 5px 3px 5px 0px;
  text-align: center;
}

// BUTTON STYLINGS
.btn {
  &__delete-item {
    background-color: $primary;
    border: 1px solid $primary;
  }

  &__edit-item {
    background-color: $edit-button-background;
    border: 1px solid $edit-button-background;
    color: $text;
    margin-left: 3px;
  }

  &__add-item {
    background-color: $add-button-background;
    color: $text;
    border: $add-button-background;
    margin-top: 10px;
  }
}

// HIDE ELEMENTS
.hide {
  display: none;
}