@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto|Gloria+Hallelujah|Indie+Flower|Cabin+Sketch');

// ============
// MIXINS
// ============

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// ============
// FONT STYLINGS
// ============

$font-stack: 'Cabin Sketch', 'Roboto', sans-serif;
$font-color: #404040;
$font-size: 20px;

// ============
// COLORS
// ============

$background: #E6EBE0;
$primary: #ED6A5A;
$light-secondary: #9BC1BC;
$dark-secondary: #335A5D;
$text: #4F6367;
$light-text: #fff;
$edit-button-background: #D1E2E0;
$add-button-background: #F4F1BB;


*,
*::before,
*::after {
	box-sizing: border-box;
}


// ============
// GLOBAL
// ============

body {
  font-family: $font-stack;
  font-size: $font-size;
  color: $text;
	background: $background;
	height: 100vh;
	@include flex-center;
}

button {
  padding: 20px 30px 20px 30px;
  border-radius: 4px;
  color: $light-text;
}

input {
  padding: 20px 30px 20px 30px;
  border: $light-text;
	border-radius: 4px;
	margin-right: 10px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

// ============
// APP
// ============

.to-do-list {
	background: $light-secondary;
	height: 70vh;
	width: 70vw;
	max-width: 600px;
	color: $light-text;

	&__title {
		height: 10vh;
		background: $dark-secondary;
    margin: 0;
		font-size: 2em;
		@include flex-center;
	}
}

.task-list {
	height: 50vh;
	overflow: auto;
  padding-left: 0;
  margin: 0;
	list-style-type: none;

	&__item {
		background: $dark-secondary;
		padding: 10px;
		margin-bottom: 2px;
  }

  &__item-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
  }

  &__item-text-wrapper {
    padding: 0 30px;
  }

    &__item-button-wrapper {
    display: flex;
  }

  &__item-button-text {
    justify-content: center;
  }

	&__edit-item {
		display: flex;
		align-items: center;
		justify-content: center;
		background: $light-text;
		padding: 10px;
		margin-bottom: 2px;
  }

  &__edit-input {
    border: 1px solid #D1E2E0;
  }
}


.input {
	height: 10vh;
  border-radius: 4px;
	text-align: center;
	@include flex-center;
}

// BUTTON STYLINGS
.btn {
  &__delete-item {
    background-color: $primary;
    border: 1px solid $primary;
    order: 1;
  }

  &__edit-item {
    background-color: $edit-button-background;
    border: 1px solid $edit-button-background;
    color: $text;
    margin-right: 10px;
  }

  &__add-item {
    background-color: $add-button-background;
    color: $text;
    border: $add-button-background;
  }

  &__complete-item {
    background-color: $light-text;
    border: 1px solid $light-text;
    margin-right: 10px;
    order: -1;
  }
}

// HIDE ELEMENTS
.hide {
  display: none;
}

// COMPLETED TASK ELEMENT
.completed {
  text-decoration: line-through;
}
