@import url('https://fonts.googleapis.com/css?family=Roboto');

// FONT STYLINGS
$font-stack: 'Roboto', sans-serif;
$font-color: #404040;
$font-size: 18px;
$font-size__list-item: 0.75em;

// COLORS
$delete-button-background: #e75555;
$edit-button-background: #6a6adb;
$add-button-background: #3daa3d;
$body-background: #fff;
$title-background: #535050;
$wrapper-background: #efefef;
$wrapper-border: #ddd;

// BODY AND INPUT STYLINGS
body {
  font-family: $font-stack;
  color: $font-color;
  background-color: $body-background;
  display: flex;
  align-items: top;
  justify-content: center;
}

input {
  min-width: 300px;
  min-height: 30px;
  padding: 5px;
}

// BUTTON STYLINGS
.btn {
  font-family: $font-stack;
  padding: 4px;
  border-radius: 4px;
}

.btn--delete-item {
  background-color: $delete-button-background;
  color: $body-background;
  border: 1px solid $delete-button-background;
  margin: 0px 2px 0px 20px;
}

.btn--edit-item {
  background-color: $edit-button-background;
  color: $body-background;
  border: 1px solid $edit-button-background;
}

.btn--add-item {
  background-color: $add-button-background;
  color: $body-background;
  border: 1px solid $add-button-background;
  margin-top: 10px;
}

// TASK LIST STYLINGS
$default-list-style: none;

.task-list {
  list-style-type: $default-list-style;
  padding-left: 0;
  margin-top: 0;
}

.task-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $body-background;
  padding: 10px;
  margin-bottom: 2px;
}

.task-list__edit--item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $body-background;
  padding: 10px;
  margin-bottom: 2px;
}

.task-list__item--name {
  font-size: $font-size__list-item;
}

.to-do-list__list--wrapper {
  background-color: $wrapper-background;
  padding: 80px;
  text-align: center;
  border: 1px solid $wrapper-border;
}

.to-do-list__item--title {
  background: $title-background;
  padding: 20px;
  margin-bottom: 0;
  color: $body-background;
}

// HIDE ELEMENTS
.hide {
  display: none;
}